/*Formulario de consultas*/

* {
    box-sizing: border-box;
}

body:not(nav) {
    /* padding: 15vw; */
}

.container {
    padding: 2vw 2vh;
    align-items: flex-end;
    display: inline-block;
    /*Borde*/
    border-top-style: solid;
    border-width: 0.1vh;
    border-color: #2075B2;
}